export CLOUDSDK_CORE_ACCOUNT=some@gmail.com

export VAULT_ADDR=https://vault.k.maelvls.dev

# Drone
export DRONE_GITHUB_CLIENT_ID=
export DRONE_GITHUB_CLIENT_SECRET=
export DRONE_RPC_SECRET=

# Concourse
export C_GITHUB_CLIENT_ID=
export C_GITHUB_CLIENT_SECRET=

# Vault
export VAULT_GITHUB_CLIENT_ID=
export VAULT_GITHUB_CLIENT_SECRET=

# Minio
export MINIO_ACCESS_KEY=
export MINIO_SECRET_KEY=

